<!-- <p>profile works!</p> -->
<div class="padre">

    <div class="section_form">
        <form class="feed-form">
          <div class="arriba">
          <div class="img"><img src="{{user.photo}}" alt=""></div>
          <div class="fullname"><h1>{{user.fullname()}}</h1></div>
          </div>
          <div class="inputss">
          <input required="" placeholder="Name" type="text" [value]="user.name">
          <input name="Surname" required="" placeholder="Surname"[value]="user.surname">
          <input name="Email" required="Email" placeholder="Email"[value]="user.email">
        </div>
        </form>
      </div>
      

      <form class="form">
        <span class="title">Edit</span>
        <label for="name" class="label">Name</label>
        <input type="text" #name class="input">
        <label for="surname" class="label">Surname</label>
        <input type="text" #surname class="input">
        <label for="email" class="label">Email</label>
        <input type="email" #email class="input">
        <label for="url" class="label">Url</label>
        <input type="text" #url  class="input">
        <button type="button" class="submit"  (click)="editar(name,surname,email,url)">Change</button>
      </form>


      
</div>
