<!-- <p>home works!</p> -->
<div class="padre">
    
    <div class="hijo1"><h1 >¡Adéntrate en la primera y más excepcional biblioteca <br>
         en línea a nivel global!</h1></div>
    <div class="imagen">
        <img src="../../../assets/imagenes/pareja-tiro-medio-teniendo-cita-libreria_23-2150334590.avif" alt="">
        <img src="../../../assets/imagenes/jovenes-leyendo-biblioteca_23-2147678891.avif" alt="">
        <img src="../../../assets/imagenes/alegre-libro-lectura-adolescente-biblioteca-escuela_23-2147864031.avif" alt="">
        <img src="../../../assets/imagenes/libro-lectura-adolescente-pasos-cerca-amigos_23-2147864048.avif" alt="">
    </div>
    <div class="hijo2"><h1>¡No te lo pierdas! <br>
        Tenemos todo lo que necesitas.</h1></div>
</div>