<!-- <p>form-register works!</p> -->
<div class="padre">

    <section class="section_form">
        <form id="consultation-form" class="feed-form" action="#">
          <input required="" placeholder="Name" type="text">
          <input name="Surname" required="" placeholder="Surname">
          <input name="Url" required="Url" placeholder="Url">
          <input name="password" required="password" placeholder="password">
          <input name="Repeat password" required="Repeat password" placeholder="Repeat password">
          <button class="button_submit">ORDER</button>
        </form>
      </section>
</div>